$hud-background-color: #b3b3b3;

.App {
  text-align: center;
}

.app-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #dbd9d2;
  .nav-wrapper {
    padding: 20px;
    background-color: $hud-background-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    .icon-container {
      width: 120px;
      .App-logo {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.App-logo {
  // height: 40vmin;
  pointer-events: none;
  // margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #dbd9d2;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: catv;
}

.App-link {
  color: #61dafb;
}

#stream-player {
  margin-top: 30px;

}

#stream-player:focus {
  outline: none;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #dbd9d2;
}

audio::-webkit-media-controls-panel:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(-30deg);
  }
  to {
    transform: rotateY(30deg);
  }
}
