$hud-background-color: black;
$background-color: black;

$hud-text-green: #04ed00; // GREEN
$hud-text-yellow: #feef49;

body {
  // min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
  overflow-y: hidden;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.App {
  text-align: center;
}

.vanta-background {
  height: 100%;
}

.three-cube {
  position: absolute;
  left: 0;
  bottom: 0;
  // width: 100px;
  z-index: 400;
  padding-left: 20px;
  // border-top: 3px solid $hud-text-green;
  // border-right: 3px solid $hud-text-green;
  // border-radius: 0 6px 0 0;
  // padding-right: 20px;
}

.app-wrapper {
  height: 100%;
  min-width: 100vw;
  background-color: $background-color;
  .nav-wrapper {
    // padding: 10px 0 8px 10px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;

  }
}

.icon-container {
  // margin: 10px 0 8px 14px;
  width: 100px;
  margin-right: auto;
  margin-left: 20px;
  // position: absolute;
  // top: 0;
  // animation: App-logo-spin 3s 0s infinite;
  // animation-direction: alternate;
  // background-color: black;
  // padding: 10px;
  .App-logo {
    max-width: 100%;
    height: auto;
    // opacity: 0.4;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: catv;
  .icon-container {
    padding-right: 20px;
  }
  .scroll-left {
    flex: 1;
    // margin-left: 50px;
    max-width: 700px;
    font-size: 1.2rem;
    color: $hud-text-green;
    border-left: 3px solid $hud-text-green;
    // border-right: 3px solid $hud-text-green;
    border-top: 3px solid $hud-text-green;
    border-radius: 6px 0px 0 0;
  }
  .player-controls {
    width: 50px;
    // padding-left: 20px;
    // margin-left: 20px;
    // border-left: 3px solid $hud-text-green;
    // border-right: 3px solid $hud-text-green;
    border-top: 3px solid $hud-text-green;
    // border-radius: 3px 0 0 0;
    height: 50px;
    position: relative;
    button {
      height: 50px;
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.App-logo {
  // height: 40vmin;
  pointer-events: none;
  // margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  // background-color: #dbd9d2;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: catv;
}

.App-link {
  color: #61dafb;
}

#stream-player {
  // margin-top: 30px;
  display: none;
}

#stream-player:focus {
  outline: none;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #dbd9d2;
}

audio::-webkit-media-controls-panel:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(-30deg) translateY(10px);
  }
  to {
    transform: rotateY(30deg) translateY(0px);
  }
}
